.app {

}

#nav{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: var(--blue);
    z-index: 6;
}

#header {
    width: 100%;
    /* height: 1000px; */
    margin-top: 150px;
}

#page{
    position: relative;
    margin-top: -4px;
}

#footer {
    padding: 20px 0;
    background-color: var(--blue);
}