.footer {
    width: var(--widthContent);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;    
}

/* LOGO */

.footer-logo {
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    width: 150px;
}

.phone-in-footer a {
    display: flex;
    text-decoration: none;
    color: white;
    font-style: italic;
    font-family: 'Tangerine', cursive;
    transition: all .2s ease-out;
}

.phone-in-footer a:hover {
    color: var(--darkBlue);
}

.phone-in-footer a img {
    width: 26px;
}

.phone-in-footer a strong {
    margin-left: 10px;
    font-size: 50px;
    font-weight: 700;
}

/* CONTENT */

.footer-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.socials a img {
    width: 50px;
    transition: transform .3s ease-out;
    cursor: pointer;
}

.socials a img:hover {
    transform: rotateY(-360deg);
}

.footer-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-nav-item {
    list-style: none;
}
 
.footer-nav-item a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 22px;
    transition: all .2s ease-out;
}

.footer-nav-item a:hover {
    color: var(--darkBlue);
}

.footer-nav-item a.active {
    color: var(--darkBlue);
}

.policy {
    display: flex;
}

.policy p {
    font-size: 13px;
    font-weight: 300;
    color: white;
}
.policy p:nth-child(2){
    margin-left: 5px;
}

.policy p a {
    color: white;
    text-decoration: none;
}