:root {
    --orange: #e17055;
    --green: #00b894;
    --red: #d63031;
    --blue: #15c1e5;
    /* --blue: #a29bfe; */
    --darkBlue: #0984e3;
    --liliowy: #a29bfe;
    --mietowy: #55efc4;
    --brzuskwiniowy: #fdcb6e;
    --turkusowyDark: #00cec9;
    --turkusowyLight: #81ecec;

    --widthContent: 1200px;
    
  }

  /* https://flatuicolors.com/palette/us */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 16px;
    font-family: 'Lato', arial, sans-serif;
  }

  strong {
    font-weight: normal;
  }